body {
	font-family: Jost;
}
.display-1 {
	font-family: 'Jost', sans-serif;
	font-size: 4.6rem;
	line-height: 1.1;
}
.display-1 > .mbr-iconfont {
	font-size: 5.75rem;
}
.display-2 {
	font-family: 'Jost', sans-serif;
	font-size: 2.7rem;
	line-height: 1.1;
}
.display-2 > .mbr-iconfont {
	font-size: 3.375rem;
}
.display-4 {
	font-family: 'Jost', sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
}
.display-4 > .mbr-iconfont {
	font-size: 1.375rem;
}
.display-5 {
	font-family: 'Jost', sans-serif;
	font-size: 2rem;
	line-height: 1.5;
}
.display-5 > .mbr-iconfont {
	font-size: 2.5rem;
}
.display-7 {
	font-family: 'Jost', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}
.display-7 > .mbr-iconfont {
	font-size: 2rem;
}
@media (max-width: 992px) {
	.display-1 {
		font-size: 3.68rem;
	}
}
@media (max-width: 768px) {
	.display-1 {
		font-size: 3.22rem;
		font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
	}
	.display-2 {
		font-size: 2.16rem;
		font-size: calc( 1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc( 1.3 * (1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20))));
	}
	.display-4 {
		font-size: 0.88rem;
		font-size: calc( 1.035rem + (1.1 - 1.035) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc( 1.4 * (1.035rem + (1.1 - 1.035) * ((100vw - 20rem) / (48 - 20))));
	}
	.display-5 {
		font-size: 1.6rem;
		font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
	}
	.display-7 {
		font-size: 1.28rem;
		font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
	}
}
.btn {
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
}
.btn-sm {
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
}
.btn-md {
	padding: 0.6rem 1.2rem;
	border-radius: 4px;
}
.btn-lg {
	padding: 1rem 2.6rem;
	border-radius: 4px;
}
.bg-primary {
	background-color: #348d5a !important;
}
.bg-success {
	background-color: #289736 !important;
}
.bg-info {
	background-color: #d41212 !important;
}
.bg-warning {
	background-color: #d41212 !important;
}
.bg-danger {
	background-color: #148cca !important;
}
a, a:hover {
	color: #348d5a;
}
body {
	overflow-x: hidden;
}
a {
	transition: color 0.6s;
}
