:root {
  --primary-color: #8b51ae;
  --secondary-color: #f29fff;
  --third-color: #f29fff;
  --fourth-color: #8b51ae;
  --primary-color-light: #3c72a3;
  --primary-color-dark: #311144;
  --secondary-color-light: #9bc3df;
  --secondary-color-dark: #f29fff;
  --contrast-color: #ffff7d;
  --text-color: #231F20;
  --light-color: #F1F1F1;
}

* {
  transition: 0.2s;
}

html {
  font-size: 20px;
  scroll-padding-top: 92px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  animation: fadeInPage 500ms forwards;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif;
  color: var(--primary-color);
  font-weight: 900;
}

img {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
}

figure {
  margin-bottom: 0;
}

#benefits .card figure {
  max-width: 100px;
  margin-top: -2em;
  border: 3px solid var(--light-color);
}

#benefits .card figure img {
  filter: invert(1) brightness(0.6) sepia(1) hue-rotate(215deg) saturate(5);
}

.buy-button {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  padding: 0.4rem 0.5rem;
  text-transform: uppercase;
  background: linear-gradient(0deg, var(--contrast-color), rgb(255, 243, 79));
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.vip-badge {
  max-width: 300px;
  position: absolute;
  top: 30px;
  left: 0px;
}

.guarantee-badge {
  max-width: 150px;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  #vip h2 {
    margin-top: 5rem;
  }
  .vip-badge {
    position: unset;
    left: 10%;
    top: 0%;
    margin-top: -2em;
    margin-bottom: 2em !important;
  }
  .guarantee-badge {
    max-width: 100px;
    right: 10%;
    top: 20%;
    left: auto;
  }
}
.one-time-offer {
  background: #f8f8f8;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .label-lg {
    font-size: 1.2rem;
  }
}
.about-products-container .flower-adornment-1 {
  position: absolute;
  max-width: 400px;
  z-index: -1;
  right: -10%;
  transform: scale(-1);
  rotate: 25deg;
  opacity: 0.3;
}

.flower-adornment-2 {
  position: absolute;
  max-width: 300px;
  z-index: -1;
  left: -10%;
  transform: scale(-1);
  rotate: 25deg;
  opacity: 0.3;
}

.flower-adornment-3 {
  position: absolute;
  max-width: 300px;
  z-index: -1;
  left: -10%;
  bottom: -30%;
  rotate: 25deg;
  opacity: 0.3;
}

.buy-button:hover {
  box-shadow: 0px 4px 20px var(--contrast-color);
  transform: scale(1.05);
}

.buy-button-label {
  background: linear-gradient(180deg, var(--primary-color), var(--primary-color-dark));
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 767px) {
  .buy-button {
    padding: 0.5rem;
    font-size: 1.4rem;
  }
}
footer {
  background-color: var(--primary-color);
}
footer .container {
  max-width: 1100px;
}
footer a:hover {
  opacity: 0.75;
}
footer .statements {
  font-size: 0.7em;
}
footer .small {
  font-size: 0.8em;
}

.fw-bold, b {
  font-weight: 800 !important;
}

.caret li {
  position: relative;
  padding-left: 6px;
  list-style: none;
}
.caret li::before {
  content: "\f231";
  font-family: "bootstrap-icons";
  position: absolute;
  top: -0.6em;
  left: -1em;
  color: var(--secondary-color);
  font-size: 1.6em;
  transform: translateY(10px) !important;
}

.grid {
  display: grid;
}

.divisor {
  position: relative;
  width: 100%;
}
.divisor.bottom {
  background-image: url("../img/curves.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 10vw;
  margin-top: -10vw;
}

.esconder {
  display: none;
}

.upheader {
  background: var(--contrast-color);
  padding: 0.2rem;
  text-align: center;
  color: var(--primary-color-dark);
}

@media (max-width: 767px) {
  .upheader {
    padding: 0.5rem 0.8rem;
  }
  .upheader h6 {
    font-size: 0.6rem;
  }
}
.clickbank#upsell1 .esconder, .clickbank#upsell2 .esconder, .clickbank#upsell3 .esconder {
  display: block;
}
.clickbank #copyb {
  display: none;
}

/* Button */
.button {
  background-image: linear-gradient(to top, #dadada 50%, #e0e0e0 51%);
  color: var(--text-color) !important;
  border: none !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  border-radius: 0.5em;
  line-height: 1;
  padding: 0.5em 1.5em;
  text-decoration: none;
  box-shadow: 0 -4px rgba(0, 0, 0, 0.05) inset;
}
.button:hover {
  background-image: linear-gradient(to bottom, #dadada 50%, #e0e0e0 51%);
  box-shadow: 0 4px rgba(0, 0, 0, 0.05) inset;
}
.button.alt {
  background-image: linear-gradient(to top, var(--primary-color) 50%, var(--primary-color-light) 51%);
  color: white !important;
  border: 2px solid var(--primary-color) !important;
}
.button.alt:hover {
  background-image: linear-gradient(to bottom, var(--primary-color) 50%, var(--primary-color-light) 51%);
}
.button.promo {
  color: var(--text-color) !important;
  background-image: linear-gradient(to top, #fccd15 50%, #ffd814 51%);
}
.button.promo:hover {
  background-image: linear-gradient(to bottom, #fccd15 50%, #ffd814 51%);
}

/* Redirect to Checkout */
#spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 9999;
}
#spinner img {
  max-width: 300px;
  filter: invert(1) brightness(20);
}

/* CTA Headline */
.cta-headline {
  position: relative;
  background-color: var(--primary-color-dark);
  z-index: 1;
}
.cta-headline h2 {
  color: white;
}
.cta-headline h2 span {
  color: var(--third-color);
}
@media (max-width: 599px) {
  .cta-headline h2 {
    font-size: 1.2em;
  }
}
.cta-headline .timer {
  font-size: 2.2em;
  line-height: 1;
  font-weight: 800;
  color: white;
  margin: 0.25em auto 0;
}

/* Product */
.products {
  position: relative;
}
.products .title {
  text-align: center;
  margin-bottom: 0.75em;
  font-size: 2.25em;
}
@media (max-width: 599px) {
  .products .title {
    font-size: 1.25em;
  }
}
.products .item {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 3px;
  color: var(--text-color);
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  box-shadow: var(--bs-box-shadow-sm);
}
.products .item:hover {
  scale: 1.025;
}
.products .item .wrapper {
  border-radius: 18px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .products .item .wrapper {
    grid-template-areas: "header header" "title info" "img info" "img totals" "footer footer";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    -moz-column-gap: 0.5em;
         column-gap: 0.5em;
    padding: 0.5em 0;
  }
}
.products .item .item-header {
  grid-area: title;
  padding: 0.25em 0.5em;
  background-color: var(--secondary-color);
  font-weight: 800;
}
@media (max-width: 767px) {
  .products .item .item-header {
    background-color: transparent;
    font-size: 1.2em;
    padding: 0;
  }
}
.products .item .item-img {
  grid-area: img;
}
.products .item .item-img .supply {
  padding: 1em 0.5em;
  text-align: center;
  line-height: 1;
}
@media (max-width: 767px) {
  .products .item .item-img .supply {
    font-size: 0.8em;
    padding: 0;
  }
}
.products .item .item-img .supply b {
  display: block;
  font-size: 1.75em;
}
@media (max-width: 767px) {
  .products .item .item-img .supply b {
    font-size: 1.6em;
  }
}
.products .item .item-img img {
  max-height: 200px;
  max-width: 100%;
  width: auto;
}
.products .item .item-info {
  grid-area: info;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.products .item .item-info .price {
  display: flex;
  text-align: start;
  gap: 0.25em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  line-height: 1;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.products .item .item-info .price b {
  font-size: 4em;
  text-align: center;
}
@media (max-width: 767px) {
  .products .item .item-info .price b {
    letter-spacing: -0.06em;
  }
}
.products .item .item-info .price sup {
  font-size: 0.45em;
  top: -0.5em;
}
.products .item .item-info .price span {
  font-weight: 800;
}
@media (max-width: 767px) {
  .products .item .item-info .price span {
    font-size: 0.8em;
  }
}
.products .item .item-info .savings {
  font-size: 0.7em;
  font-weight: 800;
}
@media (max-width: 767px) {
  .products .item .item-info .savings {
    font-size: 0.75em;
  }
}
.products .item .item-info .savings > div {
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4196078431);
}
.products .item .item-info .savings > div:first-child {
  border-top: 1px dashed rgba(0, 0, 0, 0.4196078431);
  color: var(--primary-color);
}
.products .item .item-info .savings > div:nth-child(2) {
  display: none;
}
@media (max-width: 767px) {
  .products .item .item-info .savings > div {
    padding: 0.5em 0;
  }
}
.products .item .item-info .savings span {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  line-height: 1;
}
@media (max-width: 767px) {
  .products .item .item-info .savings span {
    letter-spacing: -0.4px;
  }
}
.products .item .item-info .savings span::before {
  content: "\f270";
  font-family: "bootstrap-icons";
  font-size: 1.5em;
  font-weight: normal;
}
@media (max-width: 767px) {
  .products .item .item-info .savings span::before {
    font-size: 1em;
  }
}
.products .item .item-buy {
  grid-area: footer;
}
.products .item .item-buy .button {
  padding: 0.65em;
  margin: 0.5em 0.25em;
}
@media (max-width: 767px) {
  .products .item .item-buy .button {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.15em;
  }
}
.products .item .item-buy .button span {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.products .item .item-buy .button span::before {
  content: "\f23e";
  font-family: "bootstrap-icons";
  font-weight: normal;
  margin-top: -0.1em;
}
.products .item .item-buy .card-flags {
  max-width: 220px;
  margin-bottom: 0.5em;
}
@media (max-width: 767px) {
  .products .item .item-buy .card-flags {
    display: none;
  }
}
.products .item .item-totals {
  grid-area: totals;
  font-size: 0.9em;
  padding-bottom: 1em;
}
.products .item .item-totals .totals s {
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}
.products .item .item-totals .totals span {
  color: var(--contrast-color);
}
.products .item .item-totals .shipping {
  font-weight: 800;
}
.products .item .item-totals .shipping span {
  color: #dc3545;
}
.products .item.promo {
  color: white;
  background-color: white;
  border: 2px solid var(--primary-color);
}
.products .item.promo .wrapper {
  background-image: radial-gradient(var(--secondary-color-dark), var(--primary-color));
}
@media (max-width: 767px) {
  .products .item.promo .wrapper {
    grid-template-areas: "header header" "img info" "img totals" "footer footer";
  }
}
.products .item.promo .item-header {
  grid-area: header;
  background-color: white;
  color: var(--primary-color);
  text-shadow: none;
}
@media (max-width: 767px) {
  .products .item.promo .item-header {
    margin: -0.55em 0 0.5em;
    padding: 0.25em;
  }
}
.products .item.promo .item-img img {
  max-height: 240px;
}
.products .item.promo .item-info .savings > div {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4196078431);
}
.products .item.promo .item-info .savings > div:first-child {
  color: var(--contrast-color);
  border-top: 1px dashed rgba(255, 255, 255, 0.4196078431);
}
.products .item.promo .item-info .savings > div:nth-child(2) {
  display: block;
}
.products .item.promo .item-buy .button {
  color: var(--text-color);
  background-image: linear-gradient(to top, #fccd15 50%, #ffd814 51%);
  text-shadow: none;
}
.products .item.promo .item-buy .button:hover {
  background-image: linear-gradient(to bottom, #fccd15 50%, #ffd814 51%);
}
.products .item.promo .item-totals .shipping span {
  color: var(--contrast-color);
}

.no-thanks {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--text-color);
  font-size: 16px;
  max-width: 600px;
  text-decoration: none;
}

.marquee {
  position: fixed;
  top: 0;
  max-height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  display: flex;
  z-index: 9;
  background: var(--fourth-color);
}

ul.list {
  list-style: none;
  flex-shrink: 0;
  padding: 0;
  padding-block: 0.5rem;
  min-width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-between;
  animation: marquee 30s linear infinite;
  align-items: center;
  gap: 30px;
}

.marquee li {
  font-size: 0.5rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  min-width: -moz-max-content;
  min-width: max-content;
}

@keyframes marquee {
  to {
    transform: translateX(calc(-100% - 30px));
  }
}
/* Nav */
#nav-header {
  background: transparent;
  position: fixed;
  width: 100%;
  height: var(--headerHeight);
  top: 30px;
  z-index: 99;
  transition: all 0.2s;
}
#nav-header .logo {
  max-height: 54px;
  filter: none;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  #nav-header .logo {
    max-height: 40px;
  }
}
#nav-header .nav-item .button {
  font-size: 1em;
}
#nav-header .navbar-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: saturate(0) brightness(20);
}
#nav-header.sticky-nav {
  background: var(--primary-color-dark);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
#nav-header.sticky-nav .logo {
  filter: saturate(0) brightness(20);
}
#nav-header.sticky-nav .nav-link {
  color: var(--text-color) !important;
}
@media (max-width: 991px) {
  #nav-header .logo {
    filter: saturate(0) brightness(20);
  }
  #nav-header .nav-link {
    color: var(--text-color) !important;
  }
}

.about-adornment-1 {
  position: absolute;
  top: 0;
  opacity: 0.3;
  right: -10%;
}

.about-adornment-2 {
  position: absolute;
  top: -20%;
  transform: scale(-1);
  rotate: -80deg;
  left: 0;
  opacity: 0.3;
}

.quiz-box .background-img {
  position: absolute;
  opacity: 0.25;
}
.quiz-box > section > .container {
  position: relative;
  background-image: radial-gradient(var(--primary-color), var(--primary-color-dark));
  border: 4px solid white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  color: white;
}

#quiz .btn-primary {
  background: var(--contrast-color);
  color: var(--primary-color);
  border: none;
}
#quiz h2,
#quiz h4 {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
#quiz h2 {
  color: var(--contrast-color);
}
#quiz .option {
  border-radius: 10px;
  font-weight: 700;
}
#quiz .option:hover {
  border-color: white;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1411764706) inset;
}
#quiz .rounded-pill {
  background-color: red;
}

#progress h2,
#progress h4 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.bar-animation {
  animation: barAnimation 10s forwards ease-in;
}

@keyframes barAnimation {
  0% {
    width: 0%;
  }
  50% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .about-adornment-1 {
    top: 20%;
    opacity: 0.3;
    right: -10%;
  }
  .about-adornment-2 {
    position: absolute;
    top: 40%;
    transform: scale(-1);
    rotate: -80deg;
    left: 0;
    opacity: 0.3;
  }
}
@media (max-width: 475px) {
  .accordion-button {
    font-size: 1rem !important;
  }
}
.accordion-button:not(.collapsed) {
  background-color: white;
  color: var(--text-color);
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

.bi-check-circle {
  color: var(--secondary-color);
}

.zoom-icon {
  position: absolute;
  left: calc(50% - 37px);
  top: 55px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 11px;
  padding: 15px 25px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.zoom-icon:hover {
  background: var(--primary-color);
}

.order-details-img {
  max-width: 500px;
}

.order-details-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.order-details-guarantee {
  position: absolute;
  max-width: 100px;
  right: 35%;
  bottom: 5%;
}

@media screen and (max-width: 767px) {
  .order-details-text {
    font-size: 0.8rem;
  }
  .order-details-guarantee {
    right: 0;
  }
}
#steps {
  background-color: var(--primary-color-dark);
  color: white;
}
#steps .container > div {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#steps h1 {
  color: white;
}
#steps h1 span {
  color: var(--third-color);
}
#steps .step {
  position: relative;
  padding: 0.2em 0.8em;
  white-space: nowrap;
  border-radius: 0.2em;
}
#steps .step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
#steps .step-marker {
  width: 50px;
  height: 50px;
  border-radius: 0.2rem;
  font-weight: 600;
  display: grid;
  place-items: center;
  border: 1px solid var(--third-color);
}
#steps .step-current > .step-marker {
  background: linear-gradient(0deg, var(--third-color), var(--primary-color));
  border: none;
}
#steps .step-text {
  font-size: 0.6rem;
}
#steps .step-divider {
  height: 50px;
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
#steps .step-divider::after {
  content: "";
  width: 100px;
  position: absolute;
  left: 0;
  height: 2px;
  background: var(--third-color);
}
@media (max-width: 599px) {
  #steps .step {
    font-size: 0.8em;
    padding: 0.2em 0.4em;
  }
}
#steps .steps-headline {
  margin: 1em auto 0;
}
#steps .steps-headline h1 {
  color: white;
  margin: 0;
}
@media (max-width: 599px) {
  #steps .steps-headline h1 {
    font-size: 1em;
  }
}
#steps .steps-headline h1 span {
  color: var(--third-color);
}
#steps .step-divider {
  height: 50px;
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
#steps .step-divider::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  background: var(--third-color);
}
#steps .inner-divisor {
  height: 4px;
  max-width: 100px !important;
  margin-top: 0.5em;
  border-bottom: 6px dotted var(--secondary-color);
}

#video {
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  position: relative;
  overflow: hidden;
}

.video {
  background: black;
  width: 600px;
  height: 350px;
  max-width: 100%;
}

.video-img-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .video-img-background {
    display: none;
  }
}
.congrats-section {
  display: flex;
  align-items: center;
  background-color: #eee;
  background-image: url("../../main/img/upsell-3-woman.webp");
  background-position: top right;
  min-height: 600px;
  background-size: cover;
}

.container-height {
  height: 600px;
}

.results-cta {
  background: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
  padding: 4rem;
  margin-block: 5rem;
}

.about-products img {
  margin-bottom: 1rem;
  max-width: 100%;
  border-radius: 1rem;
  height: 200px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .text-sm {
    font-size: 0.7rem;
  }
  .results-cta {
    margin-block: 2rem;
    padding-inline: 1rem;
  }
  .congrats-section {
    min-height: 500px;
    background-position: 90% top;
    position: relative;
  }
  .congrats-section::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 0;
    background: rgba(255, 239, 251, 0.9);
    width: 100%;
    height: 100%;
  }
  .container-height {
    height: 0;
  }
  .about-products {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 1024px) {
  .about-products img {
    max-width: 100%;
    width: 100%;
  }
}
.video-up-text {
  color: var(--text-color);
  font-size: 1rem;
  font-style: italic;
}

#facebookComments {
  margin-bottom: 5rem;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comments-container {
  border: 1px solid grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}

.comment-photo {
  max-width: 60px;
  max-height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 80px;
}

.comment-text {
  border-radius: 1rem;
  background: #f2f6fb;
  padding: 0.5rem 2rem;
}

.comment-answer {
  margin-left: 5rem;
}

.comment-actions {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  font-size: 0.8rem;
  padding-inline: 1rem;
  color: #aaa;
}

.comment-actions span:is(#like, #reply)::after {
  content: "";
  top: 50%;
  margin-left: 8px;
  border-radius: 3px;
  width: 3px;
  height: 3px;
  position: absolute;
  background: #aaa;
}

.comment-reactions {
  background: white;
  padding: 0.3rem;
  position: relative;
  top: -20px;
  display: inline-flex;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.comment-reactions img {
  max-width: 20px;
  max-height: 20px;
}

.comment-reactions span {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .comment-photo {
    max-width: 30px;
    max-height: 30px;
  }
  .comment-text p {
    font-size: 14px;
  }
  .comment-answer {
    margin-left: 1.5rem;
  }
}
.about-headline {
  flex-grow: 2;
}

.metainfo {
  color: var(--text-color);
  flex-grow: 1;
}
.metainfo span {
  font-size: 0.6rem;
  font-weight: 700;
}
.metainfo time {
  display: block;
  font-size: 0.6rem;
}

#about {
  background-size: cover;
  background-position: left center;
  position: relative;
  color: white;
  overflow: hidden;
  padding-block: 110px;
}
@media (max-width: 767px) {
  #about {
    padding-block: 110px;
  }
}
#about .container {
  position: relative;
  z-index: 2;
}
#about h1 {
  color: var(--primary-color);
  font-size: 2rem;
}
#about p {
  color: var(--primary-color-dark);
  font-weight: 600;
  font-size: 1.2rem;
}
#about img {
  max-width: 350px;
}
@media (max-width: 767px) {
  #about img {
    max-width: 250px;
  }
}
#about .button {
  width: -moz-fit-content;
  width: fit-content;
}

#benefits h2 span {
  color: var(--secondary-color);
}
#benefits .sub-title {
  text-align: center;
  font-weight: 700;
  max-width: 800px;
  margin: 0 auto;
}
#benefits .grid {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3em 2em;
}
@media (max-width: 375px) {
  #benefits .grid {
    grid-template-columns: 1fr;
  }
}
#benefits .box {
  background-color: #f1f7fb;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.02) inset;
}
#benefits .box figure {
  display: block;
  background-color: var(--primary-color);
  max-width: 120px;
  padding: 1.25em;
  margin: -4em auto 1em;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3) inset, 0 2px 10px rgba(0, 0, 0, 0.1);
}
#benefits .box figure img {
  filter: brightness(20);
}
#benefits .box h4 {
  font-size: 1.15em;
}
#benefits .box.alt {
  background-color: #f7f7f7;
}
#benefits .box.alt figure {
  background-color: var(--secondary-color);
}

#ingredients {
  position: relative;
  background-image: linear-gradient(45deg, var(--primary-color-light), var(--primary-color));
  color: white;
}
#ingredients h2 {
  color: white;
}
#ingredients h2 span {
  color: var(--third-color);
}
#ingredients .grid {
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 2em;
}
@media (max-width: 599px) {
  #ingredients .grid {
    grid-template-columns: 1fr;
  }
}
#ingredients .box {
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: white;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 380px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  color: var(--text-color);
}
@media (max-width: 599px) {
  #ingredients .box {
    min-height: 650px;
  }
}
#ingredients .box .overlay {
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, white 60%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#ingredients .box img {
  overflow: hidden;
}
#ingredients .box .content {
  position: relative;
}
#ingredients .box h4 {
  font-size: 1.15em;
  color: var(--primary-color);
}

.vip-list li::marker {
  content: url("../img/list-marker.svg");
}

.vip-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vip-list li {
  font-size: 1rem;
  font-weight: 800;
  color: var(--primary-color);
}

#guarantee {
  position: relative;
  color: white;
  background: linear-gradient(90deg, var(--primary-color-dark), var(--primary-color));
}
#guarantee .container {
  max-width: 1100px;
}
#guarantee h2 {
  color: white;
}
#guarantee h2 span {
  color: var(--third-color);
}
#guarantee img {
  max-width: 200px;
}
#guarantee .badges img {
  background-color: white;
  max-width: 100px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 599px) {
  #guarantee .badges img {
    max-width: 70px;
  }
}

#faq {
  background-image: linear-gradient(45deg, var(--primary-color-light), var(--primary-color));
  color: white;
}
#faq .container {
  max-width: 1000px;
}
#faq .accordion {
  position: relative;
  z-index: 2;
}
#faq .accordion-item {
  border-radius: 0.5em;
  margin-bottom: 0.25em;
  border: 0;
}
#faq .accordion-button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.25em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
#faq .accordion-body {
  padding-bottom: 1.5em;
}

#references * {
  font-weight: 700;
  word-break: break-all;
}
#references .container {
  max-width: 1100px;
}
#references ol {
  font-size: 0.8em;
  opacity: 0.75;
}
@media (max-width: 767px) {
  #references ol {
    font-size: 0.6em;
    padding-left: 1em;
    margin-top: -1em;
  }
}
#references span {
  color: #8f8f8f;
}

.fw-bolder {
  font-weight: 900;
}

.triangle {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--secondary-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: -50px auto -30px;
  font-size: 100px;
  line-height: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .triangle {
    margin: -30px auto;
  }
}

@media (max-width: 475px) {
  .accordion-button {
    font-size: 1rem !important;
  }
}
/* Purchases Notifications */
.purchases-disclaimer {
  position: fixed;
  right: -800px;
  bottom: 20px;
  padding: 0.5rem 1rem;
  background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
  color: white;
  border-radius: 8px;
  font-size: 1em;
  font-style: italic;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  border: 3px solid white;
  transition: 0.6s;
  z-index: 999;
}
@media (max-width: 767px) {
  .purchases-disclaimer {
    font-size: 0.8em;
    line-height: 1;
    padding: 0.25rem 0.5rem;
    max-width: 220px;
  }
}

.metal-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #eeeeee, #e6e6e6, #cbcbcb, #878787, #9c9c9c, #bcbcbc, #e6e6e6, #eeeeee);
  z-index: -1;
  border-radius: inherit;
  padding: 20px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.purchases-box {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}
.purchases-box img {
  max-width: 70px;
}
@media (max-width: 767px) {
  .purchases-box img {
    max-width: 40px;
  }
}

.purchased-bottle {
  background: transparent;
  border-radius: 50%;
}

#bought_2_or_3 {
  display: none;
}

.modal {
  z-index: 99999;
}
.modal.downsell {
  background-color: var(--secondary-color);
}
.modal.downsell figure {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.modal.downsell figure .guarantee-badge {
  position: absolute;
  max-width: 100px;
  top: 1em;
  right: 2vw;
}
@media (max-width: 599px) {
  .modal.downsell figure .guarantee-badge {
    max-width: 20vw;
    right: 0;
    top: 0;
  }
}
.modal.downsell .per-bottle {
  color: var(--primary-color);
  font-size: 2em;
}
.modal.downsell .savings {
  color: rgb(14, 194, 110);
  font-size: 1.6em;
}
.modal.downsell .modal-dialog {
  max-width: 100%;
}
.modal.downsell .no-thanks {
  font-size: 1em;
}
.modal.downsell#secondDownsell, .modal.downsell#secondDownsellK3 {
  background-color: var(--fourth-color);
}
@media (max-width: 599px) {
  .modal.downsell .button-bg {
    font-size: 1em !important;
  }
  .modal.downsell h2 {
    font-size: 1.4em !important;
  }
  .modal.downsell .per-bottle {
    margin-top: 1em;
    font-size: 1.4em;
  }
  .modal.downsell .savings {
    font-size: 1.2em;
  }
}
.modal.downsell .buy-button {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}
.modal.downsell .buy-button.no-thanks {
  background: #e8e8e8;
}
.modal.downsell .buy-button.no-thanks:hover {
  box-shadow: none;
  transform: scale(1.01);
}
.modal.downsell .buy-button.no-thanks .buy-button-label {
  font-size: 1.1rem;
  color: #696969;
  background: none;
  -webkit-text-fill-color: unset;
}
@media (max-width: 599px) {
  .modal.downsell .buy-button.no-thanks .buy-button-label {
    font-size: 0.8rem;
  }
}

/* Selling Platforms */
.buygoods .no-thanks:not(.btn) {
  text-decoration: underline;
}

/* Pages */
#home.timer {
  display: none !important;
}

.product-section {
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

#dtc #steps {
  padding-bottom: 6rem;
}
#dtc #references {
  margin-top: -2em;
}

#upsell1 {
  /*#k1, #k2, #k3 {
  	display: none;
  }*/
}
#upsell1 .steps-headline h1 {
  font-size: 2.25em;
}
@media (max-width: 767px) {
  #upsell1 .steps-headline h1 {
    font-size: 1.6em;
  }
}
@media (max-width: 599px) {
  #upsell1 .steps-headline h1 {
    font-size: 1em;
  }
}
#upsell1 #k1.container, #upsell1 #k2.container {
  max-width: 420px;
}

#thankyou .main-content {
  background-image: linear-gradient(to bottom, var(--secondary-color-light), transparent);
}
#thankyou .main-content h1 {
  color: var(--primary-color);
}
#thankyou .main-content img {
  max-width: 500px;
}

.cartpanda.banner-hidden .cpd-default {
  display: none !important;
}

.cartpanda#vsl .cpd-default {
	display: none !important;
}
@keyframes fadeInPage {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}